@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  *:focus {
    outline: none;
  }

  html {
    @apply scrollbar;
    font-size: 62.5%;
  }

  body {
    @apply bg-almost-white font-general-sans font-normal leading text-gray-2;
  }

  main section:not(#section-hero) {
    @apply mx-auto max-w-[140rem] px-32;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[6px] bg-gray-2;
  }
}
